body {
  background-color: #f8f9fa;
}

.card {
  transition: all 0.3s ease;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-warning {
  background-color: #feb47b;
  border-color: #ff7e5f ;
  color: white;
}

.btn-warning:hover {
  background-color: #ff7e5f;
  border-color: #E76B4D;
  color: white;
}

.navbar {
  padding: 1rem 0;
}